.heading {
  margin-top: 3rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 1rem;
  margin: auto;
}
input,
select {
  padding: 0.75rem 0.75rem 0.75rem 1.25rem;
  border: 1px solid black;
  outline: black;
}
.submit {
  background-color: black;
  color: white;
  cursor: pointer;
}
.signin,
.register {
  color: black;
  text-decoration: underline;
}

#error-msg {
  color: red;
  display: none;
}

#success-msg {
  color: green;
  display: none;
}

select {
  border: none;
  border-right: 1rem solid transparent;
  cursor: pointer;
}
