h2 {
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
}

.title {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.settings {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.option {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.export-data,
.delete-account {
  background-color: blue;
  cursor: pointer;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.delete-account {
  background-color: red;
  cursor: pointer;
}
