* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

body {
  margin: auto 1rem auto 1rem;
}
